
a{
  text-decoration: none;
}
button{
  background: none;
  border:none;
}
html{
  overflow-x: hidden;
}
body{
  background-color: var(--half-spanish-white);
  width: 100vw;
  overflow-x: hidden;
}
#__nuxt{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#__nuxt main{
  flex: 1 1 0;
}
@media (max-width: 1000px) {
  .no-scroll{
    overflow: hidden;
  }
}