.h1,
.markdown h1 {
  font-family: "sofia-pro";
  font-weight: 700;
  font-size: 4rem;
  line-height: 144%;
  text-transform: uppercase;
}

.h2,
.markdown h2 {
  font-family: "sofia-pro";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 140%;
}

.h3,
.markdown h3 {
  font-family: "sofia-pro";
  font-weight: 500;
  font-size: 2rem;
  line-height: 138%;
}

.h4,
.markdown h4 {
  font-family: "sofia-pro";
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 129%;
}

.h5,
.markdown h5 {
  font-family: "sofia-pro";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 133%;
}

.h6,
.markdown h6 {
  font-family: "sofia-pro";
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 140%;
}
.text,
.markdown p {
  font-family: "sofia-pro";
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.description {
  font-family: "sofia-pro";
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 130%;
}
.bold,
.markdown em {
  font-weight: 700;
}
.italic{
  font-style: italic;
}
.light {
  font-weight: 300;
}

.markdown ul{
  font-family: 'sofia-pro';
  padding: 1rem 0 0  1rem;
  line-height: 150%;
  list-style: disc;
}
.outline-yellow-number {
  font-size: 96px;
  font-family: "sofia-pro";
  font-weight: 700;
  line-height: 104%;
  color: var(--dark-jungle-green);
  -webkit-text-stroke: 2px var(--mikado-yellow);
}
@media (max-width: 1000px) {
  .outline-yellow-number{
    font-size: 3rem;
  }
  .h1,
  .markdown h1 {
    font-size: 2.5rem;
  }
  .h2,
  .markdown h2 {
    font-size: 2rem;
  }
  .h3,
  .markdown h3 {
    font-size: 1.75rem;
    font-weight: 300;
  }
  .h4,
  .markdown h4 {
    font-size: 1.5rem;
  }
  .h5,
  .markdown h5 {
    font-size: 1.25rem;
  }
  .h6,
  .markdown h6 {
    font-size: 1.25rem;
  }
}
